# We do not keep track of Python virtual environments
env/

# Local working folder, not meant to be versioned
not

# We do not keep track of macOS specific files
.DS_Store
# We do not keep track of python cache files
*.pyc
# We do not keep track of wheels files
*.whl
# We do not keep track of images
*.jpg
*.h264
# We do not keep track of models
#*.h5
#*.pth
#*.json
# We do not keep track of zip files
*.zip
# We do not keep track of log, txt, lis, bat, out, csv or arff files
*.log
#*.txt
*.lis
*.bat
*.out
*.csv
*.arff


# Ignorar todo dentro de data
#HAR_mediapipe/data/*
#image_recognition/data/*

# Pero no ignorar esta carpeta
#!HAR_mediapipe/data/new_dataset/

# Ni su contenido
#!HAR_mediapipe/data/new_dataset/**